@model backend.Models.User

@{
    ViewData["Title"] = "My Account";
}
<div class="user-info-body">
    <div class="user-card">
        <h2 style="text-align:left;">👤 Account Info</h2>
        <div class="user-info">
            <div class="info-row">
                <label class="form-label info-label">Name:</label>
                <p class="info-value">@Model.Name</p>

            </div>
            <div class="info-row">
                <label class="form-label info-label">Email:</label>
                <p class="info-value">@Model.Email</p>

            </div>
            <div class="info-row">
                <label class="form-label info-label">Phone:</label>
                <p class="info-value">@Model.PhoneNumber</p>

            </div>
            <div class="info-row">
                <label class="form-label info-label">Addres:</label>
                <p class="info-value">@Model.Address</p>

            </div>
            <div class="info-row">
                <a class="btn main-page-button me-2" asp-controller="Home" asp-action="Index">🏠Main Page
                </a>
               
            </div>
        </div>
    </div>
</div>